body {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px 1fr;
    height: 100vh;
    width: 100vw;
}

main {
    background-color: skyblue;
    grid-row: 2;
    grid-column: auto;
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: max-content 1fr;
}

header {
    background-color: #444;
    grid-column: 1 / span 3;
    grid-row: 1;
}

.content {
    background-color: #eee;
    grid-column: 2;
}