.menu-item {
    padding: 10px 20px;
    height: 30px;
}

.menu-item:hover {
    background-color: #ddd;
}

.menu-item a {
    display: grid;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #222;
}