.menu-button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
}

.menu-button:hover {
    cursor: pointer;
}

.menu-button-light {
    background-color: #ffffff;
}

.menu-button-light:hover {
    background-color: #ddd;
}

.menu-button-dark {
    background-color: #333333;
}

.menu-button-dark:hover {
    background-color: #555555;
}