.menu-button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-button:hover {
    cursor: pointer;
}

.menu-button-light {
    background-color: #ffffff;
}

.menu-button-light:hover {
    background-color: #ddd;
}

.menu-button-dark {
    background-color: #333333;
}

.menu-button-dark:hover {
    background-color: #555555;
}

.menu-container.visible {
    visibility: visible;
    width: 300px;
}

.menu-container {
    overflow: hidden;
    max-width: 350px;
    width: 0;
    visibility: hidden;
    background-color: #fff;
    transition: width 500ms,visibility 500ms;
    display: flex;
    flex-direction: column;
}
